# IDE folder
.idea/
.vscode/

# PHP composer
composer.phar
composer.lock
vendor/

# public folder
#WebRoot/
Webroot/media/avatar
!Webroot/media/avatar/.gitkeep

Webroot/media/article_img/
!Webroot/media/article_img/.gitkeep

**/*.log
