<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block head %}
    {% endblock %}

    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/articles">Home</a>
            </li>
            <li class="nav-item">
              {% if session.read('logged') %}<a class="nav-link" href="/login">Login</a>{% else %}<a class="nav-link" href="/logout">Logout</a>{% endif %}
            </li>
            {% if not session.read('logged') %}
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            {% endif %}
            {% if session.read('group') == 3%}
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    {% block section %}
    {% endblock %}
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2018</p>
      </div>
    </footer>

  </body>

</html>
