{% extends "/base.html.twig" %}

{% block head %}
<title> Admin </title>
{% endblock %} 

{% block section %}
    <div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% include "/Admin/list/articles.html.twig" %}
                {% if currentUser.user_group >= constant.group.admin %}
                    {% include "/Admin/list/users.html.twig" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="/js/admin.articles.js"></script>
{% endblock %}