{% extends "/base.html.twig" %}

{% block head %}
    <title> You are Bannish!!! </title>
{% endblock %}

{% block section %}
    <p>Je ne sais pas ce que tu as fait, mais tu es banni, degage</p>
{% endblock %}
