{% extends "base.html.twig" %}

{% block head %}
    <title>Register </title>
{% endblock %}

{% block section %}
    <div class="container">
        <div class="row justify-content-sm-center">
            <form class="col-sm-12 col-md-6" method="POST" action="">

                <div class="form-group mt-5">
                    <label for="nom">Username</label>
                    <input required type="text" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="Username" name="username" value="{{ fields.name }}">
                </div>

                <div class="form-group">
                    <label for="mail">Email</label>
                    <input required type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Email" name="email" value="{{ fields.name }}">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input required type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>

                <div class="form-group">
                    <label for="password_confirmation">Password Confirmation</label>
                    <input required type="password" class="form-control" id="password_confirmation" placeholder="password confirmation" name="password_confirmation">
                </div>

                {% if msg.alert %}
                    <div class="alert alert-danger" role="alert">
                        {{ msg.alert }}
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
            </form>
        </div>
    </div>
{% endblock %}
