{% extends "/base.html.twig" %}

{% block head %}
    <title> Edit category {{ currentCategory.id }} </title>
{% endblock %}

{% block section %}
    {% include "/Categories/form.html.twig" %}
{% endblock %}

